<!DOCTYPE html>
<html>
<head>
    <title>Campus Mood Bot</title>
</head>
<body>

    <h2>Campus Mood Bot</h2>

    <form method="POST">
        <input type="text" name="message" placeholder="Enter mood or topic">
        <button type="submit">Send</button>
    </form>

    <h3>Bot Reply:</h3>
    <p>{{ reply }}</p>

    <p>
        Try:
        hello,
        exam,
        placement,
        project,
        python,
        stressed,
        happy,
        sad,
        bye
    </p>

</body>
</html>
